{% extends 'student_list/base.html' %}
{% load static %}

{% block content %}
    <div class="wizard-container">
        <h1>Step {{ wizard.steps.step1 }}</h1>
        <h3>Family Background</h3>
        <form method="post">
            {% csrf_token %}
            {{ wizard.management_form }}

            {% for field in form %}
                <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            {% endfor %}

            <div class="button-group">
                {% if wizard.steps.prev %}
                <button class="previous" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
                    Previous
                </button>
                {% endif %}
                <button type="submit">
                {% if wizard.steps.next %}
                    Next
                {% else %}
                    Submit
                {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}