{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Enrollment{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />

</head>
<body>
    <nav>
        <div id="logo">
            <a href="">
                <img src="{% static 'image/kamatis_logo.jpeg' %}" alt="">
                <p>Kamatis University</p>
            </a>
        </div>

        <div class="hamburger" onclick="toggleMenu()">☰</div>

        <ul id="menu">
            <li class="mobile-user">
                {% if request.user.profile.photo %}
                    <img src="{{ request.user.profile.photo.url }}" class="mobile-avatar">
                {% else %}
                    <span class="mobile-avatar">{{ request.user.first_name|default:request.user.username|first|upper }}</span>
                {% endif %}
            </li>

            <li><a href="{% url 'dash' %}">My Profile</a></li>
            <li><a href="{% url 'dashboard' %}">Student List</a></li>
            <li><a href="{% url 'enroll' %}">Enroll</a></li>

            <li class="mobile-user"><a href="">Settings</a></li>
            <li class="mobile-user"><a href="{% url 'logout_user' %}">Logout</a></li>
        </ul>

        <div class="right desktop-user">
            <div class="user-avatar" id="avatarBtn">
                {% if request.user.profile.photo %}
                    <img src="{{ request.user.profile.photo.url }}" alt="">
                {% else %}
                    <span>{{ request.user.first_name|default:request.user.username|first|upper }}</span>
                {% endif %}
            </div>

            <div class="avatar-dropdown" id="avatarDropdown">
                <a href="">Settings</a>
                <a href="{% url 'logout_user' %}">Logout</a>
            </div>
        </div>
    </nav>

    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>

    <div>{% block content %}{% endblock %}</div>
    
</body>
</html>